@import "tailwindcss";
@import url("color.css");
@import url("space.css");
 
.block__glav {
    counter-reset: example;    
}

.block__glav > div {
    counter-increment: example;
    position: relative;
}

.block__glav > div::before {
    content: counter(example);
    top: 10px;
    left: 15px;
    font-size: 4rem;  
    height: 50vh;
    margin: 15px;
}

