.left {

    display: flex;
    width: 96px;
    height: 800px;

   .left__main {

        display: flex; 
        flex-direction: column; 
        padding: 0 14px;
        gap: 14px;
        margin-left: 6px;
        justify-content: flex-start;
        align-items: center;
 
    }

    .left__main__polos {

            margin-top: 24px;
            margin-left: 6px;

        }

    .exit {

        margin-top: 272px;
        margin-left: 6px;

    }


}


.main {

    margin-left: 36px ;

    .main__titul {

        display: block;
        margin-top: 24.5px;
        font-size: 20px;
        gap: 10px;
        width: 1126px;
        height: 27px;
        text-align: justify;
        line-height: 100%;
        font-family: "Manrope", sans-serif;
        overflow: hidden;        
        white-space: nowrap;     
        text-overflow: ellipsis;
        overflow: hidden;
        
    }

}


.content {
    
     .content__main_1 {

        margin-top: 48.5px;
        font-size: 34px;
        line-height: 100%;
        font-family: "Manrope", sans-serif;
        gap: 10px;
        width: 617px;
        height: 92px;
    
    }

    .content__bottom {

        font-family: "Manrope", sans-serif;
        gap: 10px;
        width: 337px;
        height: 57px;
        margin-top: 16px;
        font-size: 14px;
        
    }

}


.button {

    margin-top: 400px;

    .button__tr {

        background-color: black;
        color: white;
        font-family: "Manrope", sans-serif;
        border: none;
        border-radius: 100px;
        width: 302.5px;
        height: 47px;
          
    }

    .button__zg {

        font-family: "Manrope", sans-serif;
        border: none;
        border-radius: 100px;
        width: 302.5px;
        height: 47px;
        margin-left: 12px;
    }

}


.img {

    margin-left: 738px;
    margin-top: -547.53px;

}



.kal {
    margin-left: 1244px;
    border: none;
    background-color: white;
    
}